@import "./fonts";
$mobile:319px;
$tablet:767px;  
$desktop: 1919px;
.wrapper{
    max-width: 1920px;
    min-width: 320px;
    position: relative;
    padding-bottom: 150px;
    @media (max-width: $desktop) {
        padding-bottom: 100px;
    }
}
.header{
    background-color: #17A2B8;
    height: 100px;
    @media (max-width: $tablet) {
        height: 50px;
    }
}
.menu_button{
    @media (min-width: $tablet) {
        display: none;
    }
    margin: 15px 0 0 15px;
    width: 40px;
    height: 40px;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.header_menu{
    @media (min-width:$desktop){
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        margin: 0 15%;
    }
    @media (max-width:$desktop) and  (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        margin: 0 5%;
    }
    @media (max-width: $tablet) {
        display: none;
    }
    
}
.header_menu li a{
    text-decoration: none;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.banner{
    background-color: #17A2B8;
    @media (min-width:$desktop){        
        height: 693px;
    }
    @media (max-width:$desktop) and  (min-width: $tablet) {
        height: 924px;
    }
    @media (max-width: $tablet) {
        height: 518px;
    }
}
.banner_center{
    margin: auto;   
    @media (min-width:$desktop){
        padding-top: 60px;
        width: 466px;
    }
    @media (max-width:$desktop) and  (min-width: $tablet) {
        width: 466px;
        padding-top: 200px;
    }
    @media (max-width:$tablet){
        width: 90vw;
    }
}
.banner_center>img{
    padding-top: 50px;
    display: block;
    margin: 0 auto;
}
.banner_center p{
    text-align: center;
    padding-top: 25px;
}
.reg_button{
    width: 208px;
    height: 56px;
    display: block;
    margin: 25px auto 0 auto;
    align-items: center;
    background-color: #2F418A;
    color: #ffffff;
    border-radius: 8px;
    outline: none;
    border: 0;
    cursor: pointer;
}
.first_text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}
.second_text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.third_text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.text_block{
    background-color: #F8F9FA;
    @media (min-width:$desktop){        
        height: 306px;
    }
    @media (max-width:$desktop) and  (min-width: $tablet) {
        height: 486px;
    }
    @media (max-width: $tablet) {
        height: 225px;
    }
}
.text_block{
    @media (min-width:$desktop){
        display: flex;
    }
    @media (max-width:$desktop) and  (min-width: $tablet) {
        display: block;
    }
    @media (max-width: $tablet) {
        display: block;
    }
    justify-content: center;
}
.text_block--info{
    width: 540px;
    padding-top: 38px;
    @media (max-width:$desktop) and  (min-width: $tablet) {
        margin: auto;
    }
    @media (max-width: $tablet) {
        display: none;
    }
}
.text_block--info p{
    padding-top: 10px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.text_block--reg{
    padding-top: 48px;
    width: 570px;
    @media (max-width:$desktop) and  (min-width: $tablet) {
        margin: auto;
    }
    @media (max-width: $tablet) {
        width: 100%;
        padding-top: 25px;
    }

}
.text_block--reg--h1{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    @media (max-width: $tablet) {
        text-align: unset;
        padding-left: 20px;
    }
}
.text_block--reg--p{
    padding-top: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    @media (max-width: $tablet) {
        text-align: unset;
        padding-left: 20px;
    }
}
.text_block--reg--text{
    padding-top: 10px;
    padding-left: 70px;
    @media (max-width: $tablet) {
        padding-left: 20px;
    }
}
.text_block_reg{
    display: flex;    
}
.text_block_reg p{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;    
    color: #000000;
}
.text_block_reg p:first-child{
    width: 160px;
    @media (max-width: $tablet) {
        width: unset;
    }
}
.table{
    height: 330px;
    background-color: #ffffff;
    width: 100vw;
    overflow: hidden;
    @media (max-width:$desktop) and  (min-width: $tablet) {
        height: 398px;
    }
}
.table_h1{
    padding-top: 48px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    text-align: center;    
    color: #000000;
}
.table_text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}
table{
    margin: 37px auto 0 auto;
    @media (max-width:$desktop) and  (min-width: $tablet) {
        width: 90vw;
    }

}
tr{
    border-top: 2px solid #DEE2E6;
}
td{
   padding: 10px 140px 10px 0;
   @media (max-width:$desktop) and  (min-width: $tablet) {
    padding: 10px 90px 10px 0;
}
}
.table_text_usual{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;    
    color: #000000;
}
.table_text_bold{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.speakers{
    height: 605px;
    background-color: #F8F9FA;
    @media (max-width: $tablet) {
        height: 1516px;
    }

}
.speakers_text_desktop{
    padding-top: 48px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    @media (max-width: $desktop){
        display: none;
    }
}
.speakers_text_tablet{
    padding-top: 48px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    @media (min-width: $desktop){
        display: none;
    }
}
.speakers_elements{
    padding: 0 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: $desktop) {
        padding: unset;
    }
}
.speaker{
    padding-top: 35px;
    width: 25%;
    @media (max-width:$desktop) and  (min-width: $tablet) {
        width: 33%;
    }
    @media (max-width: $tablet) {
        width: 100%;
    }
}
.speakers_img{
    display: block;
    margin: auto;
}
.speakers_text_h1{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #000000;
}
.speakers_text_p{
    font-family: Segoe UI;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;    
    color: #000000;    
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #F8F9FA;
    height: 150px;
    @media (max-width: $desktop) {
        height: 100px;
    }
}
.footer img{
    padding-top: 48px;
    @media (max-width: $desktop) {
        padding-top: 22px;
    }
    display: block;
    margin: auto;
}
.footer_text{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #BABABA;
}
.display_none{
    display: none;
}
.form{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.reg_form{
    position: relative;
    width: 404px;
    height: 252px;
    background-color: #ffffff;
    display: block;
    margin: 50px auto 0 auto;
}
.form_text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 27px;
    color: #9FA3AB;
    padding: 32px 0 10px 32px;;
}
.form_button{
    position: absolute;
    top: 32px;
    right: 32px;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.input_reg{
    width: 320px;
    height: 28px;
    margin: 20px 0 0 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B5BFC3;
    padding-left: 15px;
}
.form_reg_button{
    width: 127px;
    height: 40px;    
}